<html ng-app="movieModule">

<head>
    <link rel="stylesheet" type="text/css" href="style.css" />
    <script src="js/angular.js"></script>
    <script src="controller.js"></script>
</head>

<body ng-controller="movieController">
    <table>
        <tr>
            <th>MoviePoster</th>
            <th>MovieName</th>
            <th>Likes</th>
            <th>Dislikes</th>
            <th>Not Seen</th>
        </tr>
        <tr ng-repeat="mov in movies">
            <td> <img src={{mov.image}} alt={{mov.moviename}}></td>
            <td> {{mov.moviename}}</td>
            <td> {{mov.like}}<button ng-click="likeincrement(mov)"><img src = "images/like.png"/></button></td>
            <td> {{mov.dislike}} <button ng-click="dislikeincrement(mov)"><img src = "images/dislike.png" /></button></td>
            <td> {{mov.notseen}}<button ng-click="notseenIncrement(mov)"><img src = "images/unseen.png"/></button></td>
        </tr>
    </table>
</body>

</html>